<p id="notice"><%= notice %></p>

<p>
  <strong>Insurance company:</strong>
  <%= @insurance.insurance_company %>
</p>

<p>
  <strong>Policy number:</strong>
  <%= @insurance.policy_number %>
</p>

<p>
  <strong>Claim office:</strong>
  <%= @insurance.claim_office %>
</p>

<p>
  <strong>Phone 1 number:</strong>
  <%= @insurance.phone_1_number %>
</p>

<p>
  <strong>Phone 2 type:</strong>
  <%= @insurance.phone_2_type %>
</p>

<p>
  <strong>Phone 2 number:</strong>
  <%= @insurance.phone_2_number %>
</p>

<p>
  <strong>Phone 3 type:</strong>
  <%= @insurance.phone_3_type %>
</p>

<p>
  <strong>Phone 3 number:</strong>
  <%= @insurance.phone_3_number %>
</p>

<p>
  <strong>Adjuster:</strong>
  <%= @insurance.adjuster %>
</p>

<p>
  <strong>Insurance agent:</strong>
  <%= @insurance.insurance_agent %>
</p>

<p>
  <strong>Deductible:</strong>
  <%= @insurance.deductible %>
</p>

<p>
  <strong>Claim number:</strong>
  <%= @insurance.claim_number %>
</p>

<p>
  <strong>Claim type:</strong>
  <%= @insurance.claim_type %>
</p>

<p>
  <strong>Type of loss:</strong>
  <%= @insurance.type_of_loss %>
</p>

<p>
  <strong>Loss date time:</strong>
  <%= @insurance.loss_date_time %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @insurance.payer %>
</p>

<p>
  <strong>Insurer prepaid amount:</strong>
  <%= @insurance.insurer_prepaid_amount %>
</p>

<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
