<p id="notice"><%= notice %></p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>First name abreviation:</strong>
  <%= @contact.first_name_abreviation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.age %>
</p>

<p>
  <strong>Phone 1 type:</strong>
  <%= @contact.phone_1_type %>
</p>

<p>
  <strong>Phone 1 number:</strong>
  <%= @contact.phone_1_number %>
</p>

<p>
  <strong>Phone 2 type:</strong>
  <%= @contact.phone_2_type %>
</p>

<p>
  <strong>Phone 2 number:</strong>
  <%= @contact.phone_2_number %>
</p>

<p>
  <strong>Phone 3 type:</strong>
  <%= @contact.phone_3_type %>
</p>

<p>
  <strong>Phone 3 number:</strong>
  <%= @contact.phone_3_number %>
</p>

<p>
  <strong>Address 1 type:</strong>
  <%= @contact.address_1_type %>
</p>

<p>
  <strong>Address 1 main:</strong>
  <%= @contact.address_1_main %>
</p>

<p>
  <strong>Address 1 extra:</strong>
  <%= @contact.address_1_extra %>
</p>

<p>
  <strong>Address 1 city:</strong>
  <%= @contact.address_1_city %>
</p>

<p>
  <strong>Address 1 state:</strong>
  <%= @contact.address_1_state %>
</p>

<p>
  <strong>Address 1 zipcode:</strong>
  <%= @contact.address_1_zipcode %>
</p>

<p>
  <strong>Address 2 type:</strong>
  <%= @contact.address_2_type %>
</p>

<p>
  <strong>Address 2 main:</strong>
  <%= @contact.address_2_main %>
</p>

<p>
  <strong>Address 2 extra:</strong>
  <%= @contact.address_2_extra %>
</p>

<p>
  <strong>Address 2 city:</strong>
  <%= @contact.address_2_city %>
</p>

<p>
  <strong>Address 2 state:</strong>
  <%= @contact.address_2_state %>
</p>

<p>
  <strong>Address 2 zipcode:</strong>
  <%= @contact.address_2_zipcode %>
</p>

<p>
  <strong>Address 3 type:</strong>
  <%= @contact.address_3_type %>
</p>

<p>
  <strong>Address 3 main:</strong>
  <%= @contact.address_3_main %>
</p>

<p>
  <strong>Address 3 extra:</strong>
  <%= @contact.address_3_extra %>
</p>

<p>
  <strong>Address 3 city:</strong>
  <%= @contact.address_3_city %>
</p>

<p>
  <strong>Address 3 state:</strong>
  <%= @contact.address_3_state %>
</p>

<p>
  <strong>Address 3 zipcode:</strong>
  <%= @contact.address_3_zipcode %>
</p>

<p>
  <strong>Address 4 type:</strong>
  <%= @contact.address_4_type %>
</p>

<p>
  <strong>Address 4 main:</strong>
  <%= @contact.address_4_main %>
</p>

<p>
  <strong>Address 4 extra:</strong>
  <%= @contact.address_4_extra %>
</p>

<p>
  <strong>Address 4 city:</strong>
  <%= @contact.address_4_city %>
</p>

<p>
  <strong>Address 4 state:</strong>
  <%= @contact.address_4_state %>
</p>

<p>
  <strong>Address 4 zipcode:</strong>
  <%= @contact.address_4_zipcode %>
</p>

<p>
  <strong>Estimator:</strong>
  <%= @contact.estimator %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @contact.priority %>
</p>

<p>
  <strong>Primary referral:</strong>
  <%= @contact.primary_referral %>
</p>

<p>
  <strong>Secondary referral:</strong>
  <%= @contact.secondary_referral %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
