<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle.vehicle %>
</p>

<p>
  <strong>Type of car:</strong>
  <%= @vehicle.type_of_car %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @vehicle.body_style %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine %>
</p>

<p>
  <strong>Mileage in:</strong>
  <%= @vehicle.mileage_in %>
</p>

<p>
  <strong>Mileage out:</strong>
  <%= @vehicle.mileage_out %>
</p>

<p>
  <strong>Production date:</strong>
  <%= @vehicle.production_date %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @vehicle.fuel %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @vehicle.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @vehicle.interior_color %>
</p>

<p>
  <strong>Paint code:</strong>
  <%= @vehicle.paint_code %>
</p>

<p>
  <strong>Trim code:</strong>
  <%= @vehicle.trim_code %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @vehicle.license_plate %>
</p>

<p>
  <strong>License plate state:</strong>
  <%= @vehicle.license_plate_state %>
</p>

<p>
  <strong>License expiration:</strong>
  <%= @vehicle.license_expiration %>
</p>

<p>
  <strong>Package 1:</strong>
  <%= @vehicle.package_1 %>
</p>

<p>
  <strong>Package 2:</strong>
  <%= @vehicle.package_2 %>
</p>

<p>
  <strong>Job number:</strong>
  <%= @vehicle.job_number %>
</p>

<p>
  <strong>Repairable condition:</strong>
  <%= @vehicle.repairable_condition %>
</p>

<p>
  <strong>Primary impact:</strong>
  <%= @vehicle.primary_impact %>
</p>

<p>
  <strong>Secondary impact:</strong>
  <%= @vehicle.secondary_impact %>
</p>

<p>
  <strong>Drivable status:</strong>
  <%= @vehicle.drivable_status %>
</p>

<p>
  <strong>P1:</strong>
  <%= @vehicle.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @vehicle.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @vehicle.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @vehicle.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @vehicle.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @vehicle.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @vehicle.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @vehicle.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @vehicle.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @vehicle.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @vehicle.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @vehicle.p12 %>
</p>

<p>
  <strong>P13:</strong>
  <%= @vehicle.p13 %>
</p>

<p>
  <strong>Impact note:</strong>
  <%= @vehicle.impact_note %>
</p>

<p>
  <strong>Prior damage note:</strong>
  <%= @vehicle.prior_damage_note %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
